body {
    font-family: 'Roboto', sans-serif;
    background-color: #1f2937;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    color: #F9FAF8;
    font-size: 24px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    size: 72px;
    /* padding: 16px; */
}

.list-container {
    display: flex;
}

ul {
    list-style: none;
    display: flex;
    gap: 16px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.pageheading {
    display: flex;
    justify-content: center;
    gap: 32px;
    padding: 64px;
}

.pageheading-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
     
}

button {
    background-color: #3882f6;
    color: #E5E7EB;
    padding: 6px 12px;
    border-radius: 8px;
    border: 0px;
}

.temp-img {
    height: 250px;
    width: 350px;
}

.pagemain {
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 60vh;
}

.information-header-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.imgtxt-container {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.imgtxt {
    display: flex;
}

.pagequote {
    background-color: #E5E7EB;
    padding: 100px;
}

.quote {
    font-size: 36px;
    font-weight: light;
    font-style: italic;
}

.author {
    font-size: 36px;
    font-weight: bold;
    text-align: end;
}

.pagesignup {
    background-color: whitesmoke;
    height: 60vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
}

.signupbackground {
    background-color: #3882F6;
    padding: 32px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 32px;
}

.signuptextcontainer {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.signuptext1 {
    font-style: bold;
    font-size: 18px; 
}

.signuptext2 {
    font-size: 12px; 
}

.footer {
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: whitesmoke;
    font-size: 14px;
}